@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #27272a;
  }
  .dark {
    --background: #000000;
    --foreground: #f4f4f5;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-600/30;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600/40;
}
