@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './prism.css';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #27272a;
  }
  .dark {
    --background: #000000;
    --foreground: #f4f4f5;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
