@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* @layer base {
  :root {
    --background: #ffffff;
    --foreground: #27272a;
  }
  .dark {
    --background: #000000;
    --foreground: #f4f4f5;
  }
} */

/* @layer base {
  body {
    @apply bg-background text-foreground;
  }
} */

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(27.7% 0.046 192.524);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(27.7% 0.046 192.524);
  --primary: oklch(38.6% 0.063 188.416);
  --primary-foreground: oklch(98.4% 0.014 180.72);
  --secondary: oklch(95.3% 0.051 180.801);
  --secondary-foreground: oklch(38.6% 0.063 188.416);
  --muted: oklch(95.3% 0.051 180.801);
  --muted-foreground: oklch(70.4% 0.14 182.503);
  --accent: oklch(95.3% 0.051 180.801);
  --accent-foreground: oklch(38.6% 0.063 188.416);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(91% 0.096 180.426);
  --input: oklch(91% 0.096 180.426);
  --ring: oklch(77.7% 0.152 181.912);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(98.4% 0.014 180.72);
  --sidebar-foreground: oklch(27.7% 0.046 192.524);
  --sidebar-primary: oklch(38.6% 0.063 188.416);
  --sidebar-primary-foreground: oklch(98.4% 0.014 180.72);
  --sidebar-accent: oklch(95.3% 0.051 180.801);
  --sidebar-accent-foreground: oklch(38.6% 0.063 188.416);
  --sidebar-border: oklch(91% 0.096 180.426);
  --sidebar-ring: oklch(77.7% 0.152 181.912);
  --background: oklch(1 0 0);
  --foreground: oklch(27.7% 0.046 192.524);
}

/*
  ---break---
*/

.dark {
  --background: oklch(27.7% 0.046 192.524);
  --foreground: oklch(98.4% 0.014 180.72);
  --card: oklch(38.6% 0.063 188.416);
  --card-foreground: oklch(98.4% 0.014 180.72);
  --popover: oklch(38.6% 0.063 188.416);
  --popover-foreground: oklch(98.4% 0.014 180.72);
  --primary: oklch(91% 0.096 180.426);
  --primary-foreground: oklch(38.6% 0.063 188.416);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(98.4% 0.014 180.72);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(77.7% 0.152 181.912);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(98.4% 0.014 180.72);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(70.4% 0.14 182.503);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(38.6% 0.063 188.416);
  --sidebar-foreground: oklch(98.4% 0.014 180.72);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(98.4% 0.014 180.72);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(98.4% 0.014 180.72);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(70.4% 0.14 182.503);
}

/*
  ---break---
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-600/30;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600/40;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
